<footer class="site-footer">

  <div class="wrapper">


    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li>Israel</li>
        </ul>
      </div>
      <div class="footer-col footer-col-3">
        <ul class="contact-list">
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li> © BOA Team 2020</li>
        </ul>
      </div>
    </div>

  </div>

</footer>
