<footer class="site-footer">

  <div class="wrapper">


    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li>Israel</li>
        </ul>
      </div>
      <div class="footer-col footer-col-3">
        <ul class="contact-list">
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li><a href="https://www.xplace.com/il/u/BOACP"> <img src="/pics/xplace_logo.svg" width="100">  </img> </a>  </li>
          <li> © 2022 BOA Team - all rights reserved</li>
        </ul>
      </div>
    </div>

  </div>

</footer>
